
body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    min-width: 600px;
    align-items: center;
}

#main{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    font-family:'Courier New', Courier, monospace;
    width: clamp(600px, 100%,1500px);
}

#header, #footer{
    display:flex;
    background-color: rgb(127, 127, 127);
    height:100px;
    width: 100%;
}

#header{
    justify-content: center;
    align-items: center;
    font-size:50px;
    font-family: fantasy;
    color:white;
}

#footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: fantasy;
    color:white;
    font-size: 25px;
    vertical-align: a;
}

#dashboard{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:8px;
    font-family:sans-serif;
}

#info{
    display:flex;
    background-color: rgb(106, 214, 253);
    width:50%;
    padding:8px;
}

b{
    text-align: center;
    margin-left: 20px;
}

#sensitivity-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}  

#slider{
    display:flex;
}

#inputImage{
    display: flex;
    flex-wrap: wrap;
    width:200px;

}

#redraw{
    background-color: lightgray;
    border: 4px solid grey;
    color: black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin:4px;
}

#redraw:hover{
    background-color: grey;
}