
body {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    width: clamp(600px, 100%, 100%);
}

#main{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    font-family:'Courier New', Courier, monospace;
}

#header, #footer{
    display:flex;
    background-color: rgb(127, 127, 127);
    height:100px;
}

#header{
    justify-content: center;
    align-items: center;
    font-size:50px;
    font-family: fantasy;
    color:white;
}

#dashboard{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:8px;
}

#info{
    display:flex;
    background-color: rgb(106, 214, 253);
    width:50%;
    padding:8px;
    font-family:sans-serif;
}

b{
    text-align: center;
    margin-left: 20px;
}

#sensitivity-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider{
    display:flex;
}

#inputImage{
    width:200px;
    margin-right: -20px;
}